.main-div{
    margin-top: 50px;
}
.space{
    margin-top: 20px;
}
.common{
    border: black 2px solid;
    width: 120px;
    text-align: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #ffc0cb63;
}
.main-div .one-line{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}